
body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  *, 
  *::before, 
  *::after {
    box-sizing: inherit;
  }

  a,a:visited,a:hover {
      text-decoration: none;
  }

  .flex {
      display: flex;

      &-jc-sb {
          justify-content: space-between;
      }

      &-ai-c {
          align-items: center;
      }
  }

